<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/w3.css') }}">
        <title>Student Management v1.0</title>
    </head>
    <body>
        <div class="w3-bar w3-container w3-indigo" style="position:sticky;top:0">
            <h4>Student Management v1.0</h4>
        </div>
        <div class="w3-container w3-padding">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="w3-panel {% if category == 'error' %}w3-red{% else %}w3-green{% endif %} w3-padding w3-animate-opacity flash-message">
                            <span onclick="this.parentElement.style.display='none'" class="w3-display-topright">&times;</span>
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock %}
        </div>
        <center>
            &copy; MARY JASMIN S. PANCHO, 2025
        </center>
        
    </body>
</html>