{% extends 'base.html' %}
{% block content %}

<div class="w3-row-padding">
    <div class="w3-third">
        <div class="w3-card-4 w3-container w3-padding">
            <fieldset>
                <legend><b>EDIT STUDENT</b></legend>
                <form action="/update" method="post">
                    <p>
                        <label><b>IDNO</b></label>
                        <input type="number" name="idno" value="{{ student['idno'] }}" class="w3-input" readonly>
                    </p>
                    <p>
                        <label><b>LASTNAME</b></label>
                        <input type="text" name="lastname" value="{{ student['lastname'] }}" class="w3-input">
                    </p>
                    <p>
                        <label><b>FIRSTNAME</b></label>
                        <input type="text" name="firstname" value="{{ student['firstname'] }}" class="w3-input">
                    </p>
                    <p>
                        <label><b>COURSE</b></label>
                        <select name="course" class="w3-input">
                            <option value="BSIT" {% if student['course'] == 'BSIT' %}selected{% endif %}>INFORMATION TECHNOLOGY</option>
                            <option value="BSCS" {% if student['course'] == 'BSCS' %}selected{% endif %}>COMPUTER SCIENCE</option>
                            <option value="BSCPE" {% if student['course'] == 'BSCPE' %}selected{% endif %}>COMPUTER ENGINEERING</option>
                            <option value="BSHM" {% if student['course'] == 'BSHM' %}selected{% endif %}>HOSPITALITY MANAGEMENT</option>
                            <option value="BSCJ" {% if student['course'] == 'BSCJ' %}selected{% endif %}>CRIMINAL JUSTICE</option>
                        </select>
                    </p>
                    <p>
                        <label><b>LEVEL</b></label>
                        <select name="level" class="w3-input w3-border">
                            {% for i in range(1,5) %}
                                <option value="{{ i }}" {% if student['level'] == i|string %}selected{% endif %}>YEAR {{ i }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p class="w3-right">
                        <input type="submit" value="UPDATE" class="w3-button w3-blue">
                        <a href="/" class="w3-button w3-green">CANCEL</a>
                    </p>
                </form>
            </fieldset>
        </div>
    </div>
</div>

{% endblock %}