{% extends 'base.html' %}
{% block content %}

    <div class="w3-row-padding">
        <div class="w3-third">
            <div class="w3-card-4 w3-container w3-padding">
                <fieldset>
                    {% if edit_student %}
                    <legend><b>EDIT STUDENT</b></legend>
                    <form action="{{ url_for('updatestudent', idno=edit_student.idno) }}" method="post" enctype="multipart/form-data">
                        <center>
                            <label for="profile_upload" style="cursor:pointer;">
                                {% if edit_student %}
                                    <img id="profilePreview"
                                        src="{{ url_for('static', filename='images/' + (edit_student['image'] or 'profile.png')) }}"
                                        style="width:120px;height:120px;border-radius:50%;object-fit: cover; object-position: center;">
                                {% else %}
                                    <img id="profilePreview"
                                        src="{{ url_for('static', filename='images/profile.png') }}" 
                                        style="width:200px;height:200px;border-radius:50%;">
                                {% endif %}
                            </label>
                            <br>
                            <small>Click image to change</small>

                            <input type="file" id="profile_upload" name="profile_pic" accept="image/*" style="display:none;">
                        </center>

                        <input type="hidden" name="idno" value="{{ edit_student['idno'] }}">
                        <p>
                            <label><b>IDNO</b></label>
                            <input type="number" name="idno" value="{{ edit_student['idno'] }}" class="w3-input w3-border" readonly>
                        </p>

                        <p>
                            <label><b>LASTNAME</b></label>
                            <input type="text" name="lastname" value="{{ edit_student['lastname'] }}" class="w3-input w3-border">
                        </p>

                        <p>
                            <label><b>FIRSTNAME</b></label>
                            <input type="text" name="firstname" value="{{ edit_student['firstname'] }}" class="w3-input w3-border">
                        </p>

                        <p>
                            <label><b>COURSE</b></label>
                            <select name="course" class="w3-input w3-border">
                                <option value="BSIT" {{ 'selected' if edit_student.course == 'BSIT' else '' }}>INFORMATION TECHNOLOGY</option>
                                <option value="BSCS" {{ 'selected' if edit_student.course == 'BSCS' else '' }}>COMPUTER SCIENCE</option>
                                <option value="BSCPE" {{ 'selected' if edit_student.course == 'BSCPE' else '' }}>COMPUTER ENGINEERING</option>
                                <option value="BSHM" {{ 'selected' if edit_student.course == 'BSHM' else '' }}>HOSPITALITY MANAGEMENT</option>
                                <option value="BSCJ" {{ 'selected' if edit_student.course == 'BSCJ' else '' }}>CRIMINAL JUSTICE</option>
                            </select>
                        </p>

                        <p>
                            <label><b>LEVEL</b></label>
                            <select name="level" class="w3-input w3-border">
                                <option value="1" {{ 'selected' if edit_student.level == '1' else '' }}>FIRST YEAR</option>
                                <option value="2" {{ 'selected' if edit_student.level == '2' else '' }}>SECOND YEAR</option>
                                <option value="3" {{ 'selected' if edit_student.level == '3' else '' }}>THIRD YEAR</option>
                                <option value="4" {{ 'selected' if edit_student.level == '4' else '' }}>FOURTH YEAR</option>
                            </select>
                        </p>

                        <p class="w3-right">
                            <input type="submit" value="UPDATE" class="w3-button w3-blue">
                            <a href="/" class="w3-button w3-green">CANCEL</a>
                        </p>
                    </form>

                    {% else %}
                    <legend><b>STUDENT INFORMATION</b></legend>
                    <form action="/add" method="post" enctype="multipart/form-data">
                        <center>
                            <label for="profile_upload" style="cursor:pointer;">
                                <img id="profilePreview"
                                     src="{{ url_for('static',filename='images/profile.png') }}"
                                     style="width:120px;height:120px;border-radius:50%;">
                            </label>
                            <br>
                            <small>Click image to change</small>

                            <input type="file" id="profile_upload" name="profile_pic" accept="image/*" style="display:none;">
                        </center>
                        <p>
                            <label><b>IDNO</b></label>
                            <input type="number" name="idno" id="idno" class="w3-input w3-border">
                        </p>
                        <p>
                            <label><b>LASTNAME</b></label>
                            <input type="text" name="lastname" id="lastname" class="w3-input w3-border">
                        </p>
                        <p>
                            <label><b>FIRSTNAME</b></label>
                            <input type="text" name="firstname" id="firstname" class="w3-input w3-border">
                        </p>
                        <p>
                            <label><b>COURSE</b></label>
                            <select name="course" id="course" class="w3-input w3-border">
                                <option value="BSIT">INFORMATION TECHNOLOGY</option>
                                <option value="BSCS">COMPUTER SCIENCE</option>
                                <option value="BSCPE">COMPUTER ENGINEERING</option>
                                <option value="BSHM">HOSPITALITY MANAGEMENT</option>
                                <option value="BSCJ">CRIMINAL JUSTICE</option>
                            </select>
                        </p>
                        <p>
                            <label><b>LEVEL</b></label>
                            <select name="level" id="level" class="w3-input w3-border">
                                <option value="1">FIRST YEAR</option>
                                <option value="2">SECOND YEAR</option>
                                <option value="3">THIRD YEAR</option>
                                <option value="4">FOURTH YEAR</option>
                            </select>
                        </p>
                        <p class="w3-right">
                            <input type="submit" value="SAVE" class="w3-button w3-blue">
                            <input type="reset" value="CANCEL" class="w3-button w3-green">
                        </p>
                    </form>
                    {% endif %}
                </fieldset>
            </div>
        </div>

        <script>
            document.getElementById('profile_upload').addEventListener('change', function (event) {
                const file = event.target.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        document.getElementById('profilePreview').src = e.target.result;
                    }
                    reader.readAsDataURL(file);
                }
            });
        </script>

        <div class="w3-twothird w3-container">
            <table class="w3-table-all w3-card-4">
                <tr>
                    <th>IDNO</th>
                    <th class="w3-hide-small w3-hide-medium">LASTNAME</th>
                    <th class="w3-hide-small w3-hide-medium">FIRSTNAME</th>
                    <th class="w3-hide-large">NAME</th>

                    <th class="w3-hide-small w3-hide-medium">COURSE</th>
                    <th class="w3-hide-small w3-hide-medium">LEVEL</th>
                    <th class="w3-hide-large">COURSE & LEVEL</th>

                    <th>ACTION</th>
                </tr>
                {% for students in studentlist %}
                <tr>
                    <td>{{ students['idno'] }}</td>
                    <td class="w3-hide-small w3-hide-medium">{{ students['lastname'].upper() }}</td>
                    <td class="w3-hide-small w3-hide-medium">{{ students['firstname'].upper() }}</td>
                    <td class="w3-hide-large">{{ students['lastname'].upper() }}, {{ students['firstname'].upper() }}</td>

                    <td class="w3-hide-small w3-hide-medium">{{ students['course'].upper() }}</td>
                    <td class="w3-hide-small w3-hide-medium">{{ students['level'] }}</td>
                    <td class="w3-hide-large">{{ students['course'].upper() }}-{{ students['level'] }}</td>

                    <td>
                        <a href="/edit/{{ students['idno'] }}" style="font-size: 20px;">&#128393;</a href="">
                        <a href="/delete/{{ students['idno'] }}" style="font-size: 21px;">&#128465;</a href="">
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>

{% endblock %}